{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body style="background-color: #FFC361; font-family: 'Salsa', cursive; color:white;">
    <div style="margin-top: 10vh; font-size:172px; text-align: center; text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);">Drawing Mafias</div>
    <img src='/static/images/mafia.svg' style="height: 25vh; margin-left: 15vw; margin-top:5vh;">
    <button type="button" class="pl-5 pr-5 pt-3 pb-3 btn" style="width: 75vw; margin-left: 13vw; margin-top: 6vh; border-radius: 50px; background-color: #B1CFF1; color:white; font-size: 10vw; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));">Create a room</button>
    <button type="button" class="pl-5 pr-5 pt-3 pb-3 btn" style="width: 75vw; margin-left: 13vw; margin-top: 3vh; border-radius: 50px; background-color: #4863AA; color:white; font-size: 10vw; filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));">Join a room</button>
</body>
<script>

</script>
</html>