{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    .scrolling-wrapper {
        overflow-x: visible;
        overflow-y: hidden;
    }
    
    .card {
        display: inline-block;
    }
    </style>

</head>
<body style="background-color: #B1CFF1; font-family: 'Salsa', cursive; color:#4863AA;">
    <button type="button" class="pl-5 pr-5 pt-3 pb-3 btn" style="width: 75vw; margin-left: 13vw; margin-top: 3vh; border-radius: 50px; color: #4863AA; background-color:white; font-size: 10vw;">How to play</button>
    <div class="scrolling-wrapper">
        <div class="card" style="margin: 5vh 5vw 0vh 5vw; width: 90vw; height: 70vh; background-color:#DFEDFD; border-radius:50px;">
            <p style="font-size: 80px; padding: 20vh 5vw 5vh 5vw; text-align: center;">Each team will be given a word to draw.</p>
        </div>
        <div class="card" style="margin: 5vh 5vw 5vh 5vw; width: 90vw; height: 70vh; background-color:#DFEDFD; border-radius:50px;">
            <p style="font-size: 80px; padding: 20vh 5vw 5vh 5vw; text-align: center;">One of the teams will be given a different word and they are the drawing mafias. </p>
        </div>
        <div class="card" style="margin: 5vh 5vw 5vh 5vw; width: 90vw; height: 70vh; background-color:#DFEDFD; border-radius:50px;">
            <p style="font-size: 80px; padding: 12vh 5vw 5vh 5vw; text-align: center;">For each round, each team will take turns to draw for 15 seconds and then vote out a team (Only the team with the most votes will be voted out). </p>
        </div>
        <div class="card" style="margin: 5vh 5vw 5vh 5vw; width: 90vw; height: 70vh; background-color:#DFEDFD; border-radius:50px;">
            <p style="font-size: 80px; padding: 20vh 5vw 5vh 5vw; text-align: center;">The mafias win if they are part of the 2 remaining teams in the game.</p>
        </div>

    </div>
    
</body>
<script>

</script>
</html>