{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Instruction Team 2</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&display=swap" rel="stylesheet">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">

    </style>

</head>
<body style="background-color: #B1CFF1; font-family: 'Salsa', cursive; color:#4863AA;">
    <button type="button" class="pl-5 pr-5 pt-3 pb-3 btn" style="width: 75vw; margin-left: 13vw; margin-top: 3vh; border-radius: 50px; color: #4863AA; background-color:white; font-size: 10vw;">How to play</button>
    <p style="text-align: center; font-size: 50px; margin: 15vh 10vw 0vh 10vw;">Each team will be given a word to draw. One of the teams will be given a different word and they are the drawing mafias. </p>
    <p style="text-align: center; font-size: 50px; margin: 5vh 10vw 0vh 10vw;">For each round, each team will take turns to draw for 15 seconds and then vote out a team (Only the team with the most votes will be voted out). The mafias win if they are part of the 2 remaining teams in the game.</p>
    <a href="/draw/start_t2" type="button" class="pl-5 pr-5 pt-3 pb-3 btn" style="width: 75vw; margin-left: 13vw; margin-top: 6vh; border-radius: 50px; color:white; background-color:#4863AA; font-size: 10vw;">Ready to start</a>


</body>
<script>
    var url = window.location.href;

    var socket = new WebSocket(
        'wss://' + window.location.host + '/ws/draw');

    
    socket.onmessage = function(receivedMessage) {
        var received = JSON.parse(receivedMessage.data);
        if (received.start == 1) {  
            console.log("received start");
            location.href = "/draw/word_t1_phone";
        } 
    }
</script>
</html>